* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-align: center;
  text-decoration: inherit;
  background: transparent;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input:focus {
  outline: none;
}

form {
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 400px;
  min-width: 300px;
  border: 1px solid rgb(80,80,80);
  border-radius: 5px;
  flex-wrap: wrap;
  background-color: rgb(240,240,240);
}

form span, form > input, form div, form div input, img {
  width: 100%;
  margin: 10px 60px;
  height: 50px;
  background-color: white;
  border: 1px solid rgb(160,160,160);
  border-radius: 5px;
}

form > :first-child {
  margin: 15px 0px 0px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  background-color: rgb(240,240,240);
  border: none;
}

form > :last-child {
  margin-bottom: 0px;
}

form div {
  display: flex;
  border: none;
  background-color: rgb(240,240,240);
}

form div input {
  margin: 0px;
}

form div > :first-child {
  margin-right: 20px;
}

img {
  border: none;
  padding: 0px 70px;
  background-color: rgb(240,240,240);
}

input::-webkit-input-placeholder {
    color: rgb(160,160,160);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
  background-color: lightgoldenrodyellow;
  border: 2px solid rgb(160,160,160);
}

input[type="submit"] {
  background-color: rgb(32,99,191);
  color: white;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(21,66,127);
}

input[type="submit"]:focus {
  border: 1px solid rgb(160,160,160);
}

.errors {
  height: 0px;
  font-size: 0.8em;
  color: red;
  align-items: center;
  justify-content: center;
}

.errors:empty, .response:empty {
  display: none;
}

.response {
  align-items: center;
  justify-content: center;
  margin: 0px 0px 15px;
}
